@tailwind base;
@tailwind components;
@tailwind utilities;


.dropdown-indicator {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 1.5rem;
  position: absolute;
  right: 7px;
  top: calc(50% - 0.5em);
  pointer-events: none;
  color: #757575;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1)
}